---
layout: default
title: Software Engineer, Ruby on Rails Developer.
excerpt: Sherri Mitchell is a software engineer based in Atlanta, Georgia.
---

<section class="site__description">
  <div class="contain">
    <figure class="grid-4 columns content__image">
      <img src="/uploads/tim_680x510.jpg" alt="Tim Smith">
    </figure>
    <div class="grid-8 columns">
      <h1 class="home__title">I’m Sherri Mitchell. A Ruby on Rails developer and professional problem solver.</h1>
      <a href="/hire/" class="btn big">I'm available and ready to. Let's talk!</a>
    </div>
  </div>
</section>

<section class="site__services">
  <div class="contain">
    <h2 class="section__title">What I do</h2>
    <div class="service__widget grid-4 columns">
      <h3 class="service__title">Software Engineering</h3>
      <p>Let's work together to build your vision. I have a strong technical background as well as the analytical ability to help define and understand the problem that needs to be solved and design an appropriate technical solution. </p>
    </div>
    <div class="service__widget grid-4 columns">
      <h3 class="service__title">Front-End Development</h3>
      <p>Front-end aesthetics as well as the needs of the customer are always top of mind. I have a keen eye for detail combined with the knowledge and understanding of good UX design. I am focused on utilzing these principles toward designing beautiful, responsive sites.</p>
    </div>
    <div class="service__widget grid-4 columns">
      <h3 class="service__title">Strong Analysis Skills</h3>
      <p>Effective problem solving requires the ability to understand a customer's needs. I have an extensive analysis background, and the ability to effectively facilitate problem definition. I also have the knowledge and experience to help guide your project to success.</p>
    </div>
  </div>
</section>

<!-- <section class="portfolio__preview"> -->
  <!-- <div class="contain">
    <h2 class="section__title">Latest Work</h2>
    {% for work in site.work %}
      {% if work.featured == 'affirmative' %}
        <figure class="grid-7 columns">
          <img src="{{ work.thumbnail }}" alt="{{ work.title }} thumb">
        </figure>

        <div class="grid-5 columns portfolio__description">
          <h3>{{ work.title }}</h3>
          <p>{{ work.excerpt }}</p>
          <a href="{{ work.url }}" class="btn">View Case Study</a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section> -->
