---
layout: default
---
<div class="single">
  <div class="type-post format-{% if page.custom_type %}{{ page.custom_type }}{% endif %}">
    <article class="entry">
      <div class="contain">
        {% if page.custom_type == 'post' %}
          <p class="pubdate">{{ page.date | date: "%B %e, %Y" }} &middot; {{ content.size | readtime }} min read</p>
          <h2>{{ page.title }}</h2>
          <p class="screen-reader-hide">by Tim Smith</p>
          {{ content }}

          <div class="follow-me">
            <p>Follow me on <a href="https://twitter.com/ttimsmith">Twitter</a> and <a href="https://alpha.app.net/ttimsmith">App.net</a>.</p>
          </div>

        {% elsif page.custom_type == 'link' %}
          <p class="pubdate">{{ page.date | date: "%B %e, %Y" }}</p>
          <h2>
           <a href="{{ page.custom_url }}" target="_blank">{{ page.title }}</a>
          </h2>
          <p class="screen-reader-hide">by Tim Smith</p>
          {{ content }}

          <div class="follow-me">
            <p>Follow me on <a href="https://twitter.com/ttimsmith">Twitter</a> and <a href="https://alpha.app.net/ttimsmith">App.net</a>.</p>
          </div>

        {% elsif page.custom_type == 'video' %}
          <p class="pubdate">{{ page.date | date: "%B %e, %Y" }}</p>

          <div class="video-pusher">{{ page.video-embed }} </div>

          <h2>{{ page.title }}</h2>
          <p class="screen-reader-hide">by Tim Smith</p>

          {{ content }}

          <div class="follow-me">
            <p>Follow me on <a href="https://twitter.com/ttimsmith">Twitter</a> and <a href="https://alpha.app.net/ttimsmith">App.net</a>.</p>
          </div>

        {% endif %}
      </div><!-- .contain -->
    </article>
   </div>
 </div><!-- .single -->
